# Created by .ignore support plugin (hsz.mobi)
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
microdata-template.iml
/.idea/uiDesigner.xml
/example/minimal-webpack/dist/bundle.js
/example/minimal-webpack/node_modules/
/example/minimal-requirejs/node_modules/
/example/minimal-requirejs/yarn.lock